In [ ]:
import statistics
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [ ]:
#Soal No 1 Sebuah Dadu Di Lempar 
# No 1
a = 3
b = 2
c = 4
d = 5
e = 6
f = 1
g = 5
h = 6 
i = 3
j = 2
k = 2
l = 1
m = 3
n = 1
o = 5
satudadu = 6
hasil = (a/satudadu)
print("hasil dari 1 = " + str(hasil))
hasil = (b/satudadu)
print("hasil dari 2 = " + str(hasil))
hasil = (c/satudadu)
print("hasil dari 3 = " + str(hasil))
hasil = (d/satudadu)
print("hasil dari 4 = " + str(hasil))
hasil = (e/satudadu)
print("hasil dari 5 = " + str(hasil))
hasil = (f/satudadu)
print("hasil dari 6 = " + str(hasil))
hasil = (g/satudadu)
print("hasil dari 7 = " + str(hasil))
hasil = (h/satudadu)
print("hasil dari 8 = " + str(hasil))
hasil = (i/satudadu)
print("hasil dari 9 = " + str(hasil))
hasil = (j/satudadu)
print("hasil dari 10 = " + str(hasil))
hasil = (k/satudadu)
print("hasil dari 11 = " + str(hasil))
hasil = (l/satudadu)
print("hasil dari 12 = " + str(hasil))
hasil = (m/satudadu)
print("hasil dari 13 = " + str(hasil))
hasil = (n/satudadu)
print("hasil dari 14 = " + str(hasil))

In [ ]:
#Kedua
hasil = (a+b+c+d+e+f+g+h+i+j+k+l+m+n+o)
print("hasil dari total probilitas = " + str(hasil))

In [ ]:
#Ketiga
hasil = (a/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (b/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (c/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (f/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (i/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (j/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (k/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (l/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (m/satudadu)
print("hasil dari nilai <5 = " + str(hasil))
hasil = (n/satudadu)
print("hasil dari nilai <5 = " + str(hasil))

In [ ]:
#Dua Kali Dadu
a = 9
b = 11
c = 3
d = 6
e = 2
f = 4 
g = 9
h = 12
i = 10
j = 8
k = 2
l = 6
m = 3
n = 4
o = 9
p = 8
q = 5
r = 6
s = 11
t = 10
duadadu=12
hasil = (a/duadadu)
print("hasil dari 1 = " + str(hasil))
hasil = (b/duadadu)
print("hasil dari 2 = " + str(hasil))
hasil = (c/duadadu)
print("hasil dari 3 = " + str(hasil))
hasil = (d/duadadu)
print("hasil dari 4 = " + str(hasil))
hasil = (e/duadadu)
print("hasil dari 5 = " + str(hasil))
hasil = (f/duadadu)
print("hasil dari 6 = " + str(hasil))
hasil = (g/duadadu)
print("hasil dari 7 = " + str(hasil))
hasil = (h/duadadu)
print("hasil dari 8 = " + str(hasil))
hasil = (i/duadadu)
print("hasil dari 9 = " + str(hasil))
hasil = (j/duadadu)
print("hasil dari 10 = " + str(hasil))
hasil = (k/duadadu)
print("hasil dari 11 = " + str(hasil))
hasil = (l/duadadu)
print("hasil dari 12 = " + str(hasil))
hasil = (m/duadadu)
print("hasil dari 13 = " + str(hasil))
hasil = (n/duadadu)
print("hasil dari 14 = " + str(hasil))
hasil = (0/duadadu)
print("hasil dari 15 = " + str(hasil))
hasil = (p/duadadu)
print("hasil dari 16 = " + str(hasil))
hasil = (q/duadadu)
print("hasil dari 17 = " + str(hasil))
hasil = (r/duadadu)
print("hasil dari 18 = " + str(hasil))
hasil = (s/duadadu)
print("hasil dari 19 = " + str(hasil))
hasil = (t/duadadu)
print("hasil dari 20 = " + str(hasil))

In [ ]:
#Kedua
hasil = (a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t)
print("hasil dari total probilitas = " + str(hasil))

In [ ]:
#Ketiga
hasil = (d/duadadu)
print("hasil dari 1 = " + str(hasil))
hasil = (e/duadadu)
print("hasil dari 2 = " + str(hasil))
hasil = (f/duadadu)
print("hasil dari 3 = " + str(hasil))
hasil = (h/duadadu)
print("hasil dari 4 = " + str(hasil))
hasil = (i/duadadu)
print("hasil dari 5 = " + str(hasil))
hasil = (j/duadadu)
print("hasil dari 6 = " + str(hasil))
hasil = (k/duadadu)
print("hasil dari 7 = " + str(hasil))
hasil = (l/duadadu)
print("hasil dari 8 = " + str(hasil))
hasil = (n/duadadu)
print("hasil dari 9 = " + str(hasil))
hasil = (p/duadadu)
print("hasil dari 10 = " + str(hasil))
hasil = (r/duadadu)
print("hasil dari 11 = " + str(hasil))
hasil = (t/duadadu)
print("hasil dari 12 = " + str(hasil))

In [ ]:
#Soal No 2 Toserba Paktur Penjualan Toserba A
#No 1
print("minggu 1")
a = 6560860
b = 5950850
c = 12685900
d = 5768500
e = 2989000
hasil = (a+b+c+d+e)
print("hasil dari minggu 1 = " + str(hasil))
print("minggu 2")
f = 8782150
g = 6620000
h = 5128750
i = 5217300
j = 4820600
hasil = (f+g+h+i+j)
print("hasil dari minggu 2 = " + str(hasil))
print("minggu 3")
o = 8130940
n = 2940650
m = 3488200
l = 6930540
k = 4319260
hasil = (o+n+m+l+k)
print("hasil dari minggu 3 = " + str(hasil))
print("minggu 4")
p = 12849100
q = 5752200
r = 5128400
s = 3880490
t = 4982100
hasil = (p+q+r+s+t)
print("hasil dari minggu 4 = " + str(hasil))

In [ ]:
#Cara Menampilkan Grafik Batang
fig = plt.figure()
ax =  fig.add_axes([0,0,1,1])
minggu = ['minggu1','minggu2','minggu3','minggu4']
jumlah=[33955110, 30568800, 30568800, 32592290]
c = ['red', 'green', 'blue']
plt.title("Toserba")
plt.bar(minggu, jumlah, color=c)
plt.show()

In [ ]:
#Pie Chart
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
minggu = ['minggu1','minggu2','minggu3','minggu4']
jumlah=[33955110, 30568800, 30568800, 32592290]
ax.pie(jumlah,labels=minggu,autopct='%1.2f%%')
plt.title("toserba")
plt.show()

In [ ]:
#Cara Menampilkan Plot
fig = plt.figure()
ax =  fig.add_axes([0,0,1,1])
minggu = ['minggu1','minggu2','minggu3','minggu4']
jumlah=[33955110, 30568800, 30568800, 32592290]
plt.title("Toserba")
ax.scatter(minggu, jumlah,)
plt.show()